{
	"parser": "babel-eslint",
	"extends": "eslint:recommended",
	"plugins": ["jest"],
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true,
		"node": true
	},
	"rules": {
		"indent": [0],
		"quotes": [0],
		"semi": [
			"error",
			"always"
		],
		"prefer-const": [2],
		"spaced-comment": [2],
		"jsx-quotes": [0],
		"key-spacing": [2],
		"camelcase": [0],
		"comma-spacing": [2],
		"no-console": "off",
		"jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
	}
}
